/* src/styles/App.css */
html, body {
  background-color: var(--background-color-principal);
  color: var(--color-text-principal);
  font-family: "Noto Sans", sans-serif;
}

* {
  font-family: "Noto Sans", sans-serif !important;
}