.btnText {
  background-color: var(--background-color-button-principal);
  color: var(--color-button-principal);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btnText:hover {
  background-color: transparent;
  color: var(--color-button-hover);
  border: 0.2rem solid var(--border-color-button-hover);
}

.btnEnter {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  background-color: var(--background-color-button-principal);
  color: var(--color-button-principal);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 1rem;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.btnEnter:hover {
  background-color: transparent;
  color: var(--color-button-hover);
  border: 0.2rem solid var(--border-color-button-hover);
}
