.btnText {
  background-color: var(--background-color-button-principal);
  color: var(--color-button-principal);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btnText:hover {
  background-color: transparent;
  color: var(--color-button-hover);
  border: 0.2rem solid var(--border-color-button-hover);
}