/* src/styles/commons/ButtonIcon.css */
.iconButton {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0.2rem;
    background-color: var(--background-color-button-principal);
    color: var(--color-button-principal);
}

.iconButton:hover {
  background-color: var(--background-color-principal);
  color: var(--background-color-button-principal);
  border-style: solid;
  border-color: var(--background-color-button-principal);
  border-width: 0.2rem;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background-color: var(--background-color-button-principal);
  color: var(--color-button-principal);
  border: none;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
  aspect-ratio: 1 / 1;
}

.close-button:hover {
  background-color: var(--background-color-principal);
  color: var(--background-color-button-principal);
  border-style: solid;
  border-color: var(--background-color-button-principal);
  border-width: 0.2rem;
}
