/* src/styles/commons/Menu.css */
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  position: fixed;
  bottom: 1.5rem;
  width: 2rem;
  height: 1.563rem;
  z-index: 1100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon span {
  height: 4px;
  width: 100%;
  background: var(--color-text-principal);
  border-radius: 0.2rem;
  transition: transform 0.4s, opacity 0.4s, background 0.4s;
  transform-origin: center;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Overlay Menu */
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-principal);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.4s ease;
  z-index: 1001;
  pointer-events: auto;
}

.overlay-menu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.overlay-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.overlay-menu li {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--color-text-principal);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.overlay-menu li.active {
  color: var(--background-color-button-principal);
  transform: scale(1.15);
  position: relative;
}

.overlay-menu li.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: var(--background-color-button-principal);
  border-radius: 2px;
}
